%main
  .header
    .row
      .columns.small-12.medium-10.medium-offset-1
        %h1.primary-heading.append-2
          %span.strong Kramer Weydt&nbsp;
          is a&nbsp;
          %span.strong product strategist&nbsp;
          and&nbsp;
          %span.strong leader&nbsp;
          with a&nbsp;
          %span.strong human-centered design background.
    .row
      .columns.small-12.medium-4.medium-offset-1
        %h4
          %a.strong.red-under(href="https://www.linkedin.com/in/kweydt") linkedin.com/in/kweydt

  .projects
    .row
      .columns.small-12.medium-10.medium-offset-1
        %h3.append-2 Featured In-Depth Projects
    .row
      .columns.small-12.medium-5.medium-offset-1
        %a.row.project(href="/looksharp-marketplace.html")
          .columns.small-3.medium-4
            .crop-container(style="overflow:hidden; max-height: 150px; max-width:150px;")
              %img(src="/assets/img/ls-self-serve-2.png")
          .columns.small-9.medium-8
            %h4.strong Self-Serve Postings
            %p.no-margin-small Growing monthly self-serve job posting revenue 10x in 6 weeks.
            %p
              %em VP of Product @ Looksharp in 2016
      .columns.small-12.medium-5.end
        %a.row.project(href="/looksharp-recruiter.html")
          .columns.small-3.medium-4
            %img(src="/assets/img/recruiter-in-hand.jpg")
          .columns.small-9.medium-8
            %h4.strong Looksharp Recruiter
            %p.no-margin-small Putting the ‘human’ back in ‘human resources’ for college recruiters.
            %p
              %em VP of Product @ Looksharp in 2015
    .row
      .columns.small-12.medium-5.medium-offset-1
        %a.row.project(href="/dropcountr.html")
          .columns.small-3.medium-4
            .crop-container(style="overflow:hidden; max-height: 150px; max-width:150px;")
              %img(src="/assets/img/dropcountr-app-thumb.jpg")
          .columns.small-9.medium-8
            %h4.strong Dropcountr
            %p.no-margin-small Encouraging consumer water conservation.
            %p
              %em UX Design Consultant @ Dropcountr in 2013
      .columns.small-12.medium-5.end
        %a.row.project(href="/patient-facesheet.html")
          .columns.small-3.medium-4
            .crop-container(style="overflow:hidden; max-height: 150px; max-width:150px;")
              %img(src="/assets/img/pf-facesheet.png")
          .columns.small-9.medium-8
            %h4.strong Patient Facesheet
            %p.no-margin-small Scannable and actionable patient summary.
            %p
              %em UX Design @ Practice Fusion in 2012

  .projects
    .row
      .columns.small-12.medium-10.medium-offset-1
        %h3.append-2 Additional Design Work
    .row
      .columns.small-12.medium-5.medium-offset-1
        %a.row.project(href="/looksharp-marketplace.html")
          .columns.small-3.medium-4
            .crop-container(style="overflow:hidden; max-height: 150px; max-width:150px;")
              %img(src="/assets/img/ls-self-serve-2.png")
          .columns.small-9.medium-8
            %h4.strong Self-Serve Postings
            %p.no-margin-small Growing monthly self-serve job posting revenue 10x in 6 weeks.
            %p
              %em VP of Product @ Looksharp in 2016
      .columns.small-12.medium-5.end
        %a.row.project(href="/patient-facesheet.html")
          .columns.small-3.medium-4
            .crop-container(style="overflow:hidden; max-height: 150px; max-width:150px;")
              %img(src="/assets/img/pf-facesheet.png")
          .columns.small-9.medium-8
            %h4.strong Patient Facesheet
            %p.no-margin-small Scannable and actionable patient summary.
            %p
              %em UX Design @ Practice Fusion in 2012

