%main
  .header
    .row
      .columns.small-12.medium-10.medium-offset-1
        %h1.primary-heading.append-2
          %span.strong Kramer Weydt&nbsp;
          is a&nbsp;
          %span.strong product strategist&nbsp;
          and&nbsp;
          %span.strong leader&nbsp;
          with a&nbsp;
          %span.strong human-centered design background.
    .row
      .columns.small-12.medium-4.medium-offset-1
        %h4
          %a.strong.red-under(href="https://www.linkedin.com/in/kweydt") linkedin.com/in/kweydt

  .projects
    .row
      .columns.small-12.medium-10.medium-offset-1
        %h3.append-2 Featured Projects
    .row
      .columns.small-12.medium-5.medium-offset-1
        %a.row.project(href="/looksharp-marketplace.html")
          .columns.small-3.medium-4
            .crop-container(style="overflow:hidden; max-height: 150px; max-width:150px;")
              %img(src="/assets/img/ls-self-serve-2.png")
          .columns.small-9.medium-8
            %h4.strong Self-Serve Postings
            %p Growing self-serve job posting recurring revenue 10x in 6 weeks.
            %p
              %em VP of Product @ Looksharp in 2016
      .columns.small-12.medium-5.end
        %a.row.project()
          .columns.small-3.medium-4
            %img(src="https://www.placehold.it/150x150")
          .columns.small-9.medium-8
            %h4.strong Looksharp Recruiter
            %p A mobile app putting the ‘human’ back in ‘human resources’ for college recruiters.
            %p
              %em VP of Product @ Looksharp in 2016
    .row
      .columns.small-12.medium-5.medium-offset-1
        %a.row.project()
          .columns.small-3.medium-4
            %img(src="https://www.placehold.it/150x150")
          .columns.small-9.medium-8
            %h4.strong Looksharp Recruiter
            %p A mobile app putting the ‘human’ back in ‘human resources’ for college recruiters.
            %p
              %em VP of Product @ Looksharp in 2016
      .columns.small-12.medium-5.end
        %a.row.project()
          .columns.small-3.medium-4
            %img(src="https://www.placehold.it/150x150")
          .columns.small-9.medium-8
            %h4.strong Looksharp Recruiter
            %p A mobile app putting the ‘human’ back in ‘human resources’ for college recruiters.
            %p
              %em VP of Product @ Looksharp in 2016
