%main
  .header
    .row
      .columns.small-12.medium-10.medium-offset-1
        %h1.primary-heading.append-2
          %span.strong Kramer Weydt&nbsp;
          is a&nbsp;
          %span.strong product strategist&nbsp;
          , and&nbsp;
          %span.strong leader&nbsp;
          with a&nbsp;
          %span.strong human-centered design background.
    .row
      .columns.small-12.medium-4.medium-offset-1
        %h4
          %a.strong.red-under(href="https://www.linkedin.com/in/kweydt") linkedin.com/in/kweydt
