%main
  .sub-page-header.recruiter
    .row
      .columns.small-12.medium-5.text-center.prepend-2.append-2
        %a.strong.red-under.sketch-writing(href="/") < Back to the homepage
      .columns.small-12.medium-2.text-center.prepend-2
        %p.strong.no-margin.sketch-writing OR
      .columns.small-12.medium-5.end.text-center.prepend-2.append-2
        %a.strong.red-under.sketch-writing(href="/") Check out a different project

  %article.project-story.row
    .columns.small-11.small-centered
      .row
        .columns.small-12.medium-10.medium-centered.large-8.large-centered
          .project-heading
            %h1.strong Looksharp Recruiter
            %h2.medium-txt Putting the 'human' back in 'human resources' for college recruiting.
      .row
        .columns.small-12.medium-10.medium-centered.large-8.large-centered
          .property-bar
            .row.small-up-1.medium-up-3
              .column
                %a.project-url(href="https://www.looksharp.com/employers/products/looksharp-recruiter" target="_blank")
                  %img(src="/assets/img/looksharp-logo.svg" style="max-width:100px;")
              .column
                %p.role.text-center VP of Product (Product / Design)
              .column
                %p.year.text-right 2016


      %section
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header First, a Little Context
            %p
              When companies go online to hire great students and recent grads, they go to Looksharp.
              %span.strong However, despite our best efforts at Looksharp, most companies were still going on-campus to recruit.
              Employers were still inefficiently spending loads of money to blindly travel across the country to select schools, staff a booth at a career fair, and get their opportunity to pitch their company to thousands of students that they were never going to hire.

      %section
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header Observation and Problem Definition
            %p
              We knew that on-campus recruiting was an antiquated, incredibly painful, and inefficient process for both students and employers.
              %span.strong I headed onto some local campuses and snuck into several career fairs in an effort to observe and speak with both recruiters and students.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/on-campus-paper.jpg")

        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %p.prepend-2
              I learned that recruiters were frustrated with the inefficiency of on-campus recruiting and feeling overworked. Their
              managers were starting to think about trying to figure out which event performed best, but had no idea how to think about the problem.
            %p
              The students felt the entire process was forced, superficial, and generally dream crushing. Printing their resume, trying to stand out in a public, forced environment, and hoping to hear anything back from anyone was incredibly frustrating.
            .handwritten-box
              %h5 From My Notes:
              %p 1. On-campus recruiting exists because it always has. Hardly anyone on the ground is questioning the practicality of it or thinking analytically about it.
              %p 2. The subjective assessment of a student's "fit" with a company is the only valuable and unique aspect of on-campus recruiting.
              %p.no-margin 3. Resume collection and follow-up are incredibly painful. Recruiters scribble notes on hundreds of paper resumes and scan them into their system later.
            %p.prepend-2
              %span.strong It was clear that these were problems that were well aligned with our mission to launch the career of every student.
              These were problems we should be solving.

      %section
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header Solving the Problems
            %p
              With such a broad set of problems available to solve, it was difficult to know where to start. I led ideation sessions with the team that produced plentry of great ideas ranging from services provided by universities to facilitate smoother information exchange to mobile apps that help employers and students connect and exchange data.
            %p
              Ultimately, we felt that given our team's skillset we felt that
              %span.strong this was a prime opportunity for us to build a mobile app to help facilitate the exchange of information and capture the recruiter's subjective analysis of the student.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/recruiter-app-sketch.png")

        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %p
              At the time, the biggest design challenge we then faced was figuring out how to get the student's resume (or coursework and work history data) in the employer's hands. We experimented with text-based exchanges, custom portable scanners, and all manners of complicated systems. We landed on a simple system that required the employer to enter the student's email address into a mobile app and we'd follow-up with an email to the student asking them to upload their resume.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/recruiter-app-followup-sketch.png")

        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %blockquote.large.prepend-4
              %em This re-working of the experience allowed the recruiter to focus on connecting with the student in a more human manner and eliminated the need for paper resumes all together.

      %section
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header Real World Feedback
            %p The design for the app felt solid, but there was no way to be certain short of putting a real prototype in the hands of a recruiter on campus. We spun up a lightweight Ionic app and convinced a couple long-time customers of our online marketplace to give it a shot at an event.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/recruiter-in-use.jpg")

        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %p.prepend-2 It became immediately obvious that the basic product was solid and functional, but that several aspects still needed to be ironed out.
            .handwritten-box
              %p 1. Typing a student's email address was difficult. By the end of the day, the recruiter was handing their phone over to the student to input the email address.
              %p 2. Phones are personal devices and not all employers were comfortable with the idea of handing over their phone to a student.
              %p 3. Recruiters were still concerned about resume collection. They wanted to take pictures of the resumes, not rely on the student to upload it.
              %p.no-margin 4. The data collected needed to be accessible and actionable immediately after the event.

        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %p.prepend-2 We began to iteratively address the concerns and get more employers to give the app a shot. Career fairs were not only a great place for us to observe our app in use, but to market the app directly to the target audience.
            %p Ultimately, we opted to leave the resume workflow as it was. Recruiters wanted to use the app to take photos of resumes on the spot, but we believed that enabling that behavior would de-humanize the interaction with the student and they wouldn't end up using it anyways.

      %section
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header Growth
            %p Within the first year, we had over 80 enterprise companies try the product on campus. 26 of them became engaged users and continued to use the product at all of their on-campus events.
            %p We had over 40,000 students added at 526 events in just 3 recruiting seasons with the product.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/recruiter-crm-combo.png")

        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %p.prepend-2 As the product matured, we began to focus more intently on the candidate management workflows. I began to spend my days talking with employers about how we could save them time and enable them to impress their superiors. The complexity of these often custom workflows was impressive. However, that also meant that the opportunity to simplify things was quite large.
            %blockquote.large
              %em I began mapping out these workflows based on time spent and candidate volume.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.prepend-2.center-img(src="/assets/img/crm-workflows.png")

        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %p.prepend-2 These led to significant redesigns of the CRM experience (where employers managed their candidates) with plans for automating a majority of these tasks.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/crm-blue.png")

      %section.append-2
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header In the End
            %p Unfortunately, after a few seasons, we stopped iterating on the product and devoted our time and energy back towards our initial core product, the internships and jobs marketplace.
            %blockquote.large
              %em Our company strategy shifted towards breaking even and away from rapid growth. With that, our inability to easily monetize the Recruiter product led to it's downfall.
            %p We still had 15 paying companies using the product at each event, but we simply weren't able to acquire new companies at the same rate. The market for this product wasn't huge to begin with, but it was even smaller than we had initially imagined. Our major competitor ate up the Fortune 500 companies and inked 2-3 year contracts with them, so we didn't have access to the largest college recruiting budgets (which were already quite small) when the time came for us to focus on monetization.

      %section.append-2
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header Key Takeaways & Reminders
            .handwritten-box
              %p Products are built within a larger context. Had we built this product earlier or when we had easier access to additional capital, it might have been a success.
              %p.no-margin Test monetization hypotheses early and often.

            %hr
            %a.red-under.sketch-writing.float-left(href="/") Homepage
            %a.red-under.sketch-writing.float-right(href="#") Next Project

