%main
  .sub-page-header.self-serve
    .row
      .columns.small-12.medium-5.text-center.prepend-2.append-2
        %a.strong.red-under.sketch-writing(href="/") < Back to the homepage
      .columns.small-12.medium-2.text-center.prepend-2
        %p.strong.no-margin.sketch-writing OR
      .columns.small-12.medium-5.end.text-center.prepend-2.append-2
        %a.strong.red-under.sketch-writing(href="/") Check out a different project

  %article.project-story.row
    .columns.small-11.small-centered
      .row
        .columns.small-12.medium-10.medium-centered.large-8.large-centered
          .project-heading
            %h1.strong Looksharp Self-Serve Postings
            %h2.medium-txt Growing self-serve job posting revenue 10x in 6 weeks.
      .row
        .columns.small-12.medium-10.medium-centered.large-8.large-centered
          .property-bar
            .row.small-up-1.medium-up-3
              .column
                %a.project-url(href="https://www.looksharp.com" target="_blank")
                  %img(src="/assets/img/looksharp-logo.svg" style="max-width:100px;")
              .column
                %p.role.text-center VP of Product (Product / Design)
              .column
                %p.year.text-right 2016


      %section
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header First, a Little Context
            %p Looksharp aims to launch the career of every student by providing the largest online marketplace for internships and entry-level jobs. Employers big and small come to Looksharp to hire talented interns and recent graduates.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/looksharp-diagram-650x138.png")

        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %p.prepend-2
              At the time of this project,
              %span.strong Looksharp was pushing hard towards profitability and financial independence.
              The majority of Looksharp’s revenue came from large deals done with enterprise companies looking to hire hundreds if not thousands of students and recent grads. However, it was inconsistent and inefficient.
            %p.prepend-2
              We had some smaller self-serve customer posting jobs and making 1-off hires. We were charging $99 for a 30-day job posting and generating $1,800/month. We knew that if we wanted to become profitable, we would have to better monetize our self-serve audience.
              %span.strong Thus, this project was driven primarily by a business need, not a user need.

      %section
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header Observation and Problem Definition
            %p
              I knew we needed to better understand why employers weren’t paying to post on our site. Conversations with our self-serve employers revealed
              %span.strong the largest current hurdles to paying to post positions on Looksharp.com:
            .handwritten-box
              %h5 Nuggets From My Notes:
              %p They could go elsewhere to post for free.
              %p.no-margin The reluctance to pay $99 for 30 days of exposure when you might get 1 applicant or 200 applicants.

      %section
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header Going Broad: Solving the Problem
            %p
              We quickly nixed the idea of going completely free. We had tried that in the past and while it stimulated marketplace growth, it didn't generate revenue. After additional brainstorming with the team,
              %span.strong we coalesced around the idea of switching to a pay-per-applicant model.
            %p
              This model would allow us to do 2 things. First, it aligned our business model with our customer's needs. We would generate revenue by driving quality applicants to these positions, which is what these employers were paying us to deliver. Second, it removed some uncertainty and fear from the posting process for employers. They would only pay for results.
            .handwritten-box
              %h5 Goal
              %p Increase revenue from self-serve employer job postings.
              %h5.prepend-2 Strategy
              %p.no-margin 1. Re-align our business interests with our customer’s interests.
              %p.no-margin 2. Remove uncertainty by allowing employers to pay for results, not exposure.

      %section
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header Fleshing Out the Plan
            %p Changing our business model was going to be a costly investment, so the first task was to ensure that the idea resonated with our employer audience. I began sketching out potential workflows and used them to run the concept past employers.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/ls-self-serve-flow-900x675.jpg")

        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %p.prepend-2 It quickly became obvious that once understood, the pay-par-applicant model was a good fit. Unfortunately, it wasn't the easiest model to explain to the average SMB owner. They were used to paying a flat rate and understanding a new model was an overwhelming task.
            %p Where I didn't expect them to get hung up was in setting a budget for their position. It took many iterations to figure out the best way to communicate the idea of usage-based payment.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/ls-self-serve-900x542.jpg")

      %section
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header The Launch
            %p After iterating through sketches and getting input on the most confusing aspects of the model switch, I dove into higher fidelity designs.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            .row.small-up-1.medium-up-3.gallery
              .column
                %a.thumbnail(href="#" data-featherlight="/assets/img/ls-self-serve-postings-dash.png")
                  %img.center-img(src="/assets/img/ls-self-serve-postings-dash.png")
              .column
                %span.thumbnail(href="#")
                  %img.center-img(src="/assets/img/ls-self-serve-postings-create.png")
              .column
                %span.thumbnail(href="#")
                  %img.center-img(src="/assets/img/ls-self-serve-postings-payment.png")

        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %p.prepend-2
              We quickly built and launched with the basic pay-per-applicant model extremely quickly and found quite a bit of success.
              %blockquote.large
                %em Within the first month after launch we began seeing $400 days (up from $60 days with the previous model).
            %p
              After the initial launch it became painfully clear through product feedback channels that we still had at least 1 major concern to address on the behalf of employers - the quality of applicants.
              %span.strong Employers were concerned that we were simply going to go find just anyone on the internet to apply to their position and then charge them for it.
            %p In response, we quickly iterated into an applicant restrictions feature that allowed employers, for a slight increase in cost, to restrict who could apply for their positions. If a student on our site wasn't qualified to apply for their position, they wouldn't even see it in search results.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/ls-self-serve-2.png")

      %section.append-2
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header Iterative Improvement
            %p Given the success of the pay-per-applicant model, the clear next step was to find ways to iteratively grow the available budget in our marketplace from these postings and drive additional quality applicants to those positions.
            %p Initially, we were filling about 40% of the budget we had available to fill from self-serve postings. In other words, we were delivering 40% of the maximum number of applicants, or actualizing 40% of the potential revenue available to us.
            %p
              We began to test ideas for growing both the available budget and the rate at which the positions were applied for. We tested the syndication of these listings out to other marketplaces (Indeed, etc.), tweaked our search algorithm to boost these postings on our marketplace, and started sending out highly personalized emails to potential applicants for these positions. The result?
              %blockquote.large
                %em We drove the fill rate up to 70% and pushed our monthly revenue from self-serve to $11k (from $1.8k) in 6 weeks.

        .row
          .columns.small-12.medium-12.large-10.large-centered
            %img.center-img(src="/assets/img/self-serve-rev-graph.svg")

      %section.append-2
        .row
          .columns.small-12.medium-10.medium-centered.large-8.large-centered
            %h3.sub-header Key Takeaways & Reminders
            .handwritten-box
              %p Alignment between business goals and the job your users are hiring you to do is absolutely critical to unlocking scalable monetization.
              %p Building trust and communicating with users can be more difficult than solving their problems.
              %p Trust in a sound design process that involves the user at every step along the way.

            %hr
            %a.red-under.sketch-writing.float-left(href="/") Homepage
            %a.red-under.sketch-writing.float-right(href="#") Next Project